.articles-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  width: 100%;
  background: $green;
  color: white;
  .articles-header-title {
    color: white;
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.wrapper.articles-grid{
  margin-top: 2rem;
}