@import "./variables.scss";


button.btn-prems {
  cursor: pointer;
  border: 1px solid $green;
  background: white;
  color: $green;
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-size: 1rem;
  transition: all .2s ease-in;
  transition-property: color, border;

  &:hover {
    border: 1px solid $darkGreen;
    color: $darkGreen;
  }
}

button.btn-white {
  cursor: pointer;
  border: none;
  background: white;
  color: $green;
  padding: .7rem 1.2rem;
  border-radius: .3rem;
  font-size: 1rem;
  transition: all .2s ease-in;
  transition-property: color, background, border;
  border: 1px solid $green;

  &:hover {
    color: white;
    background: $green;
    border: 1px solid white;
  }

}

.btn-nav {
  display: flex;
  align-items: center;
  color: $green;
  cursor: pointer;
  border: none;
  font-size: .8rem;
  .arrow-btn{
    margin-left: .3rem;

    font-size: .9rem;
  }
}