@import "./variables.scss";


button.btn-prems {
  cursor: pointer;
  border: 1px solid $green;
  background: white;
  color: $green;
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-size: 1rem;
  transition: all .2s ease-in;
  transition-property:color, border;

  &:hover {
    border: 1px solid $darkGreen;
    color: $darkGreen;
  }
}

button.btn-white{
  cursor: pointer;
  border: none;
  background: white;
  color: $green;
  padding: .7rem 1.2rem;
  border-radius: .3rem;
  font-size: 1rem;
  transition: all .2s ease-in;
  transition-property:color, background;

  &:hover {
    color: white;
    background: $green;
  }

}