.header {
  position: relative;



}


.header-title-container {
  position: absolute;
  z-index: 1;
  color: white;
  margin-left: 2rem;
  width: 65%;
  margin-top: 4rem;

  .header-over-title {
    font-size: .9rem;
  }

  .header-title {
    z-index: 1;
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgba(20, 20, 20, 0.1);
    margin-bottom: 1.5rem;
  }

}

.video-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  height: 390px;

  .video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    width: 100%;
    // min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

.video-overflow {
  background: rgba(0, 0, 0, 0.3);
  position: relative
}

.header-title {
  position: relative;
}