@import "./variables.scss";

.nav-bar {
  width: 100%;
  padding: .5rem 2rem;
  border-bottom: 1px solid $lightGrey;
  background: white;
  box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);

  .is-active{
    color: $lightBlack;
  }
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-family: 'Noto Serif SC', serif;
  font-weight: 900;
  margin-right: 2.3rem;

  &:hover {
    color:$lightBlack;
  }
}

.nav-side {
  display: flex;
  align-items: baseline;
}

.nav-item {
  font-size: .9rem;
  margin-right: .9rem;
  color: $mediumGrey;
  transition: color .2s ease-in;
  &:hover {
    color: $lightBlack;
  }
}