@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC:300,400,500,700,900|Source+Sans+Pro:300,400,700,900&display=swap");
ul, li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.nav-bar {
  width: 100%;
  padding: .5rem 2rem;
  border-bottom: 1px solid #F8F9FA;
  background: white;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08); }
  .nav-bar .is-active {
    color: #272728; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav-logo {
  font-family: 'Noto Serif SC', serif;
  font-weight: 900;
  margin-right: 2.3rem; }
  .nav-logo:hover {
    color: #272728; }

.nav-side {
  display: flex;
  align-items: baseline; }

.nav-item {
  font-size: .9rem;
  margin-right: .9rem;
  color: #ccccd4;
  transition: color .2s ease-in; }
  .nav-item:hover {
    color: #272728; }

button.btn-prems {
  cursor: pointer;
  border: 1px solid #0CDCB0;
  background: white;
  color: #0CDCB0;
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-size: 1rem;
  transition: all .2s ease-in;
  transition-property: color, border; }
  button.btn-prems:hover {
    border: 1px solid #077b63;
    color: #077b63; }

button.btn-white {
  cursor: pointer;
  border: none;
  background: white;
  color: #0CDCB0;
  padding: .7rem 1.2rem;
  border-radius: .3rem;
  font-size: 1rem;
  transition: all .2s ease-in;
  transition-property: color, background, border;
  border: 1px solid #0CDCB0; }
  button.btn-white:hover {
    color: white;
    background: #0CDCB0;
    border: 1px solid white; }

.btn-nav {
  display: flex;
  align-items: center;
  color: #0CDCB0;
  cursor: pointer;
  border: none;
  font-size: .8rem; }
  .btn-nav .arrow-btn {
    margin-left: .3rem;
    font-size: .9rem; }

.header {
  position: relative; }

.header-title-container {
  z-index: 1;
  width: 65%; }
  .header-title-container .header-over-title {
    font-size: .9rem;
    text-transform: uppercase;
    font-size: .7rem;
    margin-left: .2rem;
    color: #ccccd4; }
  .header-title-container .header-title {
    z-index: 1;
    color: #0CDCB0;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: .4rem; }

.page-title-container {
  display: flex;
  padding: 1.5rem 2rem 2rem 2rem;
  flex-direction: column; }
  .page-title-container .page-title {
    color: #272728;
    font-size: 1rem;
    font-weight: 400;
    max-width: 70%; }

.video-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  height: 400px; }
  .video-container .video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0; }

.video-overflow {
  background: rgba(0, 0, 0, 0.3);
  position: relative; }

.header-title {
  position: relative; }

.footer {
  margin-top: 3rem;
  background: #272728;
  height: 300px;
  width: 100%; }

.grid-articles-container {
  padding: 0 2rem; }

.grid-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem; }

.article-card-container {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  border-radius: .6rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  padding: 1rem; }
  .article-card-container:hover {
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
    transform: translate(0, -15px); }

.card-infos {
  color: white; }
  .card-infos .card-title {
    font-size: 1.2rem; }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

.big-cta-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  background: #0CDCB0; }
